{% extends base %}

{% block preamble %}
<link rel="stylesheet" type="text/css" href="InteractiveVis/static/style.css">
<link rel="icon" type="image/x-icon" href="InteractiveVis/static/favicon.ico">

{% endblock %}

{% block contents %}
    {{ super() }}

    <div class="bk-root bk" style="width: 1010px; margin: 40px 5px; padding: 0.1em 1em; background: #00000020">
        <p>The <strong>interactive relevance map visualization app</strong> displays image areas that contribute to the model’s decision.<br>
		For the task to detect <strong>Alzheimer’s disease</strong> in T1-weighted brain MRI scans, high relevance values shown in red correspond to disease-specific reduction in gray matter volume (atrophy).</p>
        <p><strong>Disclaimer:</strong> This app is not intended to be used for clinical evaluation and decision making. Although the neural network models achieve high accuracy, they are still subject of research. This app is provided for illustration purpose only.</p>
		<p><strong>Data privacy statement:</strong> Uploaded data will not be stored permanently. They are deleted when the session/bowser tab is closed.</p>
        <p>Get the code on <a href="https://github.com/martindyrba/DeepLearningInteractiveVis">GitHub</a> | Read the paper on BioMed Central <a href="https://doi.org/10.1186/s13195-021-00924-2" target="_blank">DOI: 10.1186/s13195-021-00924-2</a></p>
    </div>
{% endblock %}
